.gral-buy {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-left: 50px;
  }
  
  .cont-buy-items {
    background-color: white;
    border-radius: 8px;
    width: 480px; /* Ajusta el ancho del componente según tus necesidades */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: space-between; /* Alinea los elementos de manera equidistante */
    margin-right: 20px; /* Ajusta la separación entre cont-buy-items y el componente adyacente */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
  }
  
  .bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-acumulate,
  .btn-buy,
  .btn-rest {
    background-color: #ee644c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px; /* Ajusta el padding según tus preferencias */
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-acumulate {
    margin-right: 5px; /* Ajusta el margen entre los botones + y - */
    width: 40px;
  }
  
  .btn-rest {
    margin-left: 5px; /* Ajusta el margen entre los botones + y - */
    width: 40px;
  }
  
  p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ee644c;
  }
  
  .btn-buy {
    flex: 1; /* Ocupa el espacio disponible en el contenedor */
    height: 40px; /* Ajusta la altura del botón según tus preferencias */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el contenido excedente del botón */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si se desborda */
  }

  .finish-bbuy { 
    background-color: black;
    color: #ee644c
  }

  .finish-bbuy:hover { 
     background-color: #ee644c;
     color: black;
  }