.a { 
    margin-top: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;  
}

.b { 
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Agrega scroll horizontal si el contenido excede el ancho */
}

.c {
    background-color: #266d3a;
    color: rgb(38, 34, 34);
    height: 1px;

  }