.container-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .category {
    font-size: 14px;
    color: black;
    margin-left: auto;
  }
  
  .price {
    font-size: 11px;
    margin: 0;
    align-self: flex-start;
  }
  
 
  .quantity {
    font-size: 11px;
    margin-bottom: 5px;
    align-self: flex-start;
  }

  .opinion { 
    color: black;
     font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
  }

  .lnk { 
    text-decoration: none;
  }

  /*.review-component { 
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%)
  }*/

