
.conteiner-gral-nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px 20px;
    background-color: rgb(30, 28, 28);
  }

  
  
  .conteiner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .cont-pb {
    display: flex;
    gap: 20px;
  }
  
  .my-tasks,
  .my-pendt,
  .my-finish {
    font-size: 14px;
    font-weight: bold;
    color: #ee644c;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  
  .my-tasks:hover,
  .my-pendt:hover,
  .my-finish:hover {
    color: #ee644c;
  }
  
  .img-logo {
    width: 40px;
    height: 36px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .img-logo:hover {
    transform: scale(1.1);
  }

  .name-sesion { 
    position: absolute;
    right: 100px;
    cursor: pointer;
    text-decoration: underline;
  }


  .section-div { 
    width: 180px;
    height: 110px;
    display: none;
    position: absolute;
    right: 37px;
    top: 56px;
    
  }

  .bt-sections { 
    width: 170px;
    font-size: 10px;
    background-color: #ee644c; 
  }

  .bt-sections:hover { 
    width: 210px;
    color: black;
    font-size: 11px;
    background-color: #ee644c; 
  }

  .cont-sections-users { 

  }
  