.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    width: 100%;
  }

  .close-shipping { 
    margin-left: 410px;
    cursor: pointer;
  }
  
  .container-rigth-left {
    display: flex;
    height: 500px;
    flex-wrap: wrap
  }
  
  .left-section {
    background-color: #ffffff;
    padding: 20px;
    flex: 1;
  }
  
  .right-section {
    background-color: #ffffff;
    padding: 20px;
    flex: 1;
  }
  
  .label-text {
    font-weight: bold;
  }
  
  .input-field {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .div-img-shipping {
    text-align: center;
  }
  
  .shipping-img {
    max-width: 100%;
    height: auto;
  }
  
  .div-shipping-some {
    margin-top: 20px;
  }
  
  .prod-name-shipping {
    font-weight: bold;
  }
  
  .prod-price-shipping {
    color: #888;
  }

  .prod-quantity-shipping { 
    color: #888;
    font-size: 9px;
  }


  .shipping-img { 
    width: 75px;
    height: 75px;
  }

  .shipping-img:hover { 
    width: 105px;
    height: 105px;
  }

  .close-shipping { 
   
    font-size: 12px;


  }

  .go-buy { 

    font-size: 14px;
  }
  
  .open-shipping { 
    color: black;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
  }

  .back-home { 
    color: black;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
  }

  .last-dates { 
    font-size: 10px;
    background-color: #f2f2f2;
    text-decoration: underline;
    color: black;
    margin-top: 30px;
    cursor: pointer;
  }

  .data-ship { 
    font-size: 12px;
  }