.sizes-cont { 
    position: relative;
   
    display: inline-flex;
  
}

.size-btn { 
    background-color: white;
    color:  #a95142;;
    font-size: 13px;
}

.sizeshoes-btn{ 
    background-color: white;
    color:  #a95142;;
    font-size: 13px;
}