* { 
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
  outline: none;
}

.container { 
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  background-image: linear-gradient(to bottom, #f2f2f2, #d7d4d4);
}

*::selection { 
  color: white;
  background-color: #a95142;
}